<h3>Microposts</h3>

<div class="form" style="background-color:#C3D2D8; padding:10px">
  <%= render 'form', micropost: Micropost.new, view: 'index' %>
</div>

<div class="microposts">
  <%= render partial: 'micropost', collection: @microposts %>
</div>