<div class="nav" style="margin: 10px">

  <%= link_to root_path, style: "color:#35455D; text-decoration: none; font-size:15px" do %>  
    <span class="home" >
      Home /
    </span>
  <% end %>

  <%= link_to users_path, style: "color:#35455D; text-decoration: none; font-size:15px" do %>
    <spanclass="user-index">
      Users /
    </span>
  <% end %>

  <%= link_to new_micropost_path, style: "color:#35455D; text-decoration: none; font-size:15px" do %>
    <span class="new">
      New Micropost /
    </span>
  <% end %>

  <%= link_to new_user_path, style: "color:#35455D; text-decoration: none; font-size:15px" do %>
    <span class="new">
      New User
    </span>
  <%end %>

</div>